* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/background.jpg);
    background-position: center center;
    background-size: max(100vw, 1200px);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
    color: white;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: 86%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0px 30px;
}

.hero> :nth-child(1) {
    font-weight: 800;
    font-size: 38px;
    text-align: center;
}

.hero>:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: darkgrey;
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 19px;
    border-radius: 4px;
    border-color: red;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.btn-red-sm {
    background-color: red;
    color: white;
    padding: 6px 15px;
    margin: 10px;
}

.main input {
    padding: 3px 24px;
    font-size: 19px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(248, 244, 244, 0.5);
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
}
.secImg {
    position: relative;
    top: 0;
}

.secImg img {
    width: 401px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 401px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    font-family: "Martel Sans", sans-serif;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 38px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 18px;
}

.faq {
    color: white;
    font-family: "Martel Sans", sans-serif;
    padding: 34px;
    font-size: 20px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faqbox:hover {
    background-color: rgba(37, 36, 36, 0.2);
    color: white;
}

.faqbox {
    transition: all 2s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: grey;
    width: 100vw;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
    color: white;
}
.questions{
    display: grid;
    justify-content: center;
    margin: 34px;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
}
@media screen and (max-width:1200px){
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .secImg img{
        width: 305px;
        position: relative;
        z-index: 10;
    }
    .secImg video{
        width: 305px;
    }
    .hero> :nth-child(1) {
        font-size: 28px;
    }
    .hero> :nth-child(2) {
        font-size: 18px;
    }
    .hero> :nth-child(3) {
        font-size: 18px;
    }
    .hero-button{
        flex-direction: column;
    }
}
@media screen and (max-width:1200px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 29px;
        max-width: 90vw;
    }
    .faq h2{
        font-size: 28px;
    }
}
.footer a{
    font-size: 14px;
    color: white;
}
.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
}